<header class="row main-heading">
  <div class="logo-wrapper">
      <span class="hackathon-logo"></span>
      <!--<h1><b>Hackathon.io</b></h1>-->
      <h1><b>Hackathon.io</b></h1>
  </div>
  <nav class="heading-options">
      <ul>
          <li>
              <span class="create-h-btn">Create Hackathon</span>
          </li>
          <li>
              <a class="nav-option" (click)="openRegister()">Register</a>
          </li>
          <li>
              <a class="nav-option" (click)="openLogin()">Login</a>
          </li>
      </ul>
  </nav>
</header>