:host {
    float: left;
    width: 100%;
    > section {
        max-width: 1920px;
        margin: 80px auto 0;
    }
}
nav {
    float: left;
    width: 100%;
}
.footer-rows-wrapper {
    display: flex;
    flex-direction: row;
    padding: 0 60px;
    .footer-rows {
        flex-basis: 25%;
        &.button-row {
            display: flex;
            align-items: center;
            justify-content: center;
            button {
                border: none;
                padding: 20px;
                font-size: 26px;
                font-family: MontserratRegular; 
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);
                background-color: #fff;
                &:hover {
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                }
            }
        }
    }
    ul {
        font-family: MontserratMedium;
        h2 {
            color: #4b4b4b;
            font-family: MontserratMedium;
            font-weight: bold;
            font-size: 30px;
        }
        li {
            margin-bottom: 10px;
            font-size: 26px;
            color: #4b4b4b;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.footer-mini {
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
}