<section>
	<nav>
		<div class="footer-rows-wrapper">
			<div class="footer-rows button-row">
				<button>English</button>
			</div>
			<div class="footer-rows">
				<ul class="footer-links">
					<a href="#" class="links"><li>
						<h2>Hackathon.io</h2>
					</li></a>
					<a href="#" class="links"><li>About Us</li></a>
					<a href="#" class="links"><li>Contact Us</li></a>
					<a href="#" class="links"><li>Help</li></a>
					<a href="#" class="links"><li>FAQs</li></a>
				</ul>
			</div>
			<div class="footer-rows">
				<ul class="footer-links">
					<a href="#" class="links"><li>
						<h2>Hackathons</h2>
					</li></a>
					<a href="#" class="links"><li>Manifesto</li></a>
					<a href="#" class="links"><li>Search Participants</li></a>
					<a href="#" class="links"><li>Search Projects</li></a>
					<a href="#" class="links"><li>Search Organizers</li></a>
				</ul>
			</div>
			<div class="footer-rows">
				<ul class="footer-links">
					<a href="#" class="links"><li>
						<h2>Jobs</h2>
					</li></a>
					<a href="#" class="links"><li>Candidates</li></a>
					<a href="#" class="links"><li>Employers</li></a>
					<a href="#" class="links"><li>Get a quote</li></a>
				</ul>
			</div>
		</div>
		<br>
		<div class="marG">
			<hr class="padding-hr">
			<div class="footer-mini">
				<h2 class="link">Hackathon.io Inc. &copy;</h2>
				<div class="social">
					<a class="links" href="#"><h2>Terms</h2></a>
					<div style="margin-left:0px;display:inline-block"></div>
					<a class="links"href="#"><h2>Privacy</h2></a>
					<a href="#"><img style="vertical-align:middle" src="https://png.icons8.com/color/29/000000/facebook.png"></a>
					<a href="#"><img style="vertical-align:middle" src="https://png.icons8.com/color/29/000000/twitter.png"></a>
					<a href="#"><img style="vertical-align:middle" src="https://png.icons8.com/nolan/29/000000/instagram-new.png"></a>
				</div>
			</div>

		</div>
<a class="nope" href="https://icons8.com">Icon pack by Icons8</a>
	</nav>


</section>
