:host {
  float: left;
  width: 100%;
}

:host > section {
  max-width: 1920px;
  margin: 80px auto 0;
}

nav {
  float: left;
  width: 100%;
}

.footer-rows-wrapper {
  display: flex;
  flex-direction: row;
  padding: 0 60px;
}

.footer-rows-wrapper .footer-rows {
  flex-basis: 25%;
}

.footer-rows-wrapper .footer-rows.button-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-rows-wrapper .footer-rows.button-row button {
  border: none;
  padding: 20px;
  font-size: 26px;
  font-family: MontserratRegular;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #fff;
}

.footer-rows-wrapper .footer-rows.button-row button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.footer-rows-wrapper ul {
  font-family: MontserratMedium;
}

.footer-rows-wrapper ul h2 {
  color: #4b4b4b;
  font-family: MontserratMedium;
  font-weight: bold;
  font-size: 30px;
}

.footer-rows-wrapper ul li {
  margin-bottom: 10px;
  font-size: 26px;
  color: #4b4b4b;
}

.footer-rows-wrapper ul li:last-child {
  margin-bottom: 0;
}

.footer-mini {
  float: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
