<section>
	<nav>
		<div class="footer-rows-wrapper">
			<div class="footer-rows button-row">
				<button>English</button>
			</div>
			<div class="footer-rows">
				<ul>
					<li>
						<h2>Hackathon.io</h2>
					</li>
					<li>About Us</li>
					<li>Contact Us</li>
					<li>Help</li>
					<li>FAQs</li>
				</ul>
			</div>
			<div class="footer-rows">
				<ul>
					<li>
						<h2>Hackathons</h2>
					</li>
					<li>Manifesto</li>
					<li>Search Participants</li>
					<li>Search Projects</li>
					<li>Search Organizers</li>
				</ul>
			</div>
			<div class="footer-rows">
				<ul>
					<li>
						<h2>Jobs</h2>
					</li>
					<li>Candidates</li>
					<li>Employers</li>
					<li>Get a quote</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="footer-mini">
		<span>Hackathon.io Inc. &copy;</span>
		<div class="social">
			<span>Terms</span>
			<span>Privacy</span>
			<i class="fa fa-facebook"></i>
			<i class="fa fa-twitter"></i>
			<i class="fa fa-instagram"></i>
		</div>
	</div>
</section>