<section>
  <div class="max-width-block">
      <h1 class="block-title row">
          Featured Hackathons
      </h1>
      <div class="row box-wrapper">
          <div class="box-item">
              <span class="item-img-container"></span>
              <span class="item-title">Lady Problems Hackathon: London</span>
              <span class="item-location">London, UK</span>
              <span class="item-date">11/09/17 - 11/10/17</span>
              <span class="item-participants">100 Joined</span>
          </div>
          <div class="box-item">
              <span class="item-img-container"></span>
              <span class="item-title">Women In Tech Demo Day Presented by Capital One</span>
              <span class="item-location">New York, NY, USA</span>
              <span class="item-date">11/15/17 - 11/17/17</span>
              <span class="item-participants">51 Joined</span>
          </div>
          <div class="box-item">
              <span class="item-img-container"></span>
              <span class="item-title">AngelHack Global Series: Los Angeles</span>
              <span class="item-location">Los Angeles, CA, USA</span>
              <span class="item-date">3/20/2018 - 3/22/2018</span>
              <span class="item-participants">88 Joined</span>
          </div>
          <div class="box-item">
              <span class="item-img-container"></span>
              <span class="item-title">SmartTone Smart Properties Hackathon</span>
              <span class="item-location">Hong Kong, China</span>
              <span class="item-date">11/09/17 - 11/10/17</span>
              <span class="item-participants">14 Joined</span>
          </div>
      </div>
  </div>
</section>