<section>
  <div class="max-width-block">
      <h1 class="block-title row">
          {{collectionTitle}}
      </h1>
      <div class="row box-wrapper">
          <div class="box-item" *ngFor = "let box of collectionObject">
              <span class="item-img-container"></span>
              <span class="item-title">{{box.title}}</span>
              <span class="item-location">{{box.location}}</span>
              <span class="item-date">{{box.date}}</span>
              <span class="item-participants">{{box.participants}}</span>
          </div>
      </div>
  </div>
</section>