@font-face {
    src: url('assets/fonts/Montserrat-Thin.otf');
    font-family: MontserratThin;
}
@font-face {
    src: url('assets/fonts/Montserrat-Regular.otf');
    font-family: MontserratRegular;
}
@font-face {
    src: url('assets/fonts/Montserrat-Medium.otf');
    font-family: MontserratMedium;
}
@import 'assets/scss/global.scss';