@font-face {
  src: url("assets/fonts/Montserrat-Thin.otf");
  font-family: MontserratThin;
}

@font-face {
  src: url("assets/fonts/Montserrat-Regular.otf");
  font-family: MontserratRegular;
}

@font-face {
  src: url("assets/fonts/Montserrat-Medium.otf");
  font-family: MontserratMedium;
}

* {
  box-sizing: border-box;
}

html, body, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
}

body.register-open {
  overflow: hidden;
}

.row {
  float: left;
  width: 100%;
}
