<app-full-height-block></app-full-height-block>
<app-hackathon-items [collectionObject]="collections"></app-hackathon-items>
<app-hackathon-items [collectionObject]="collections"></app-hackathon-items>
<app-hackathon-items [collectionObject]="collections"></app-hackathon-items>
<app-banner-block class="with-items-near"></app-banner-block>
<app-hackathon-items [collectionObject]="collections"></app-hackathon-items>
<app-hackathon-items [collectionObject]="collections"></app-hackathon-items>
<app-hackathon-items [collectionObject]="collections"></app-hackathon-items>