<section>
    <div class="register-section">
        <div class="register-wrapper">
            <h1>Start Hacking!</h1>
            <div class="register-form">
                <div class="register-form-panel form-wrapper">
                    <form>
                        <div class="register-input-wrapper">
                            <input placeholder="Full Name" type="text">
                        </div>
                        <div class="register-input-wrapper">
                            <input placeholder="Email" type="email">
                        </div>
                        <div class="register-input-wrapper">
                            <input placeholder="Password" type="password">
                        </div>
                        <div class="register-btn-wrapper">
                            <button>Continue</button>
                        </div>
                    </form>
                </div>
                <div class="register-form-panel"></div>
                
            </div>
        </div>
    </div>
</section>
